body {
    margin: 0;
    font-size: 14px;
}

/* This is template for white background */
.template-empty-container {
    display: flex;
    width: 100%;
    position: relative;
    height: 460px;
}

/* A green angled block of colour */
.color-container {
    display: flex;
    background-color: #42DEC4;
    clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 80% 70%, 0% 90%);
    width: 100%;
    position: relative;
}

/* A grey rectangle */
.grey-container {
    background-color: #E9E9E9;
    display: flex;
    width: 100%;
    position: relative;
    height: 460px;
}

/* Container for text and image   */
.template-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
}

/* text container */
.template-text {
    flex: 0 0 40%;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
  
}

/* image container */
.template-image-container {
    flex: 0 0 50%;
    display: flex;
    z-index: 100;
    height: 400px;
    align-items: center;
    padding-top:20px;
}

/*  image styling in the image container */
.template-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}


/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.1rem;
        /* Adjust width for smaller screens */

    }

    h2 {
        font-size: 0.8rem;
        /* Adjust width for smaller screens */

    }

    h3,
    h4,
    p {
        font-size: 0.8rem;
        /* Adjust width for smaller screens */

    }
}

/* Additional media query */
@media only screen and (max-width: 480px) {

    h1 {
        font-size: 1rem;
        /* Adjust width for smaller screens */

    }

    h2 {
        font-size: 0.7rem;
        /* Adjust width for smaller screens */

    }

    h3,
    h4,
    p {
        font-size: 0.7rem;
        /* Adjust width for smaller screens */

    }
}




/* Made the font Arial */
body {
    font-family: Arial, sans-serif;
}


.header-wrapper {
    display: flex;
    height: auto;
    background-color: white;
    color: black;
    justify-content: space-between;
    /* Distribute elements evenly */
    align-items: center;
    /* Align logo and navigation vertically */
}

#logo-image {
    height: 70px;
}

.navigation {
    font-size: 1rem;
}

ul {
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    /* Ensure navigation items wrap to the next line on smaller screens */
}

li {
    list-style-type: none;
    margin-right: 20px;
}

.nav-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-buttons {
    background-color: #10d3bb;
    /* Light green color */
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    /*  rounded corner radius */
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;

}

.nav-buttons:hover {
    background-color: #0056b3;
}

.nav-link:hover {
    background-color: #10d3bb;
    padding: 3px;
    border-radius: 3px;
}




@media only screen and (max-width: 768px) {

    /* Adjustments for smaller screens */
    .header-wrapper {
        flex-direction: column;
        /* Stack header items vertically */
    }

    .navigation {
        font-size: 0.9rem;
        /* Decrease font size */
    }

    .nav-buttons {
        width: 60px;

        /* Adjust button width */
        font-size: 0.7rem;
    }


    #logo-image {
        height: 50px;
    }

    /* Adjust other styles as needed */
}

/* Additional media query */
@media only screen and (max-width: 480px) {

    .header-wrapper {
        flex-direction: column;
        /* Stack header items vertically */
    }

    .navigation {
        font-size: 0.8rem;
        /* Decrease font size */
    }

    .nav-buttons {
        width: 50px;

        /* Adjust button width */
        font-size: 0.6rem;
    }


    #logo-image {
        height: 40px;
    }

    /* Adjust other styles as needed */
}

/* Care for your loved ones section  */


.tick-text {
    display: flex;
    align-items: center;
    /* Center items vertically */
    margin-bottom: 10px;
}

.tick-text h3 {
    margin: 0;
}

.tick-text img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


.callout {
    position: relative;
    bottom: 0px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
}

.callout-header {
    padding: 10px 15px;
    background: white;
    font-size: 1rem;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.callout-header h4 {
    margin-top: 1px;
}

/* below is styling the link start your free trial */
.trial-links {
    color: #10d3bb;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;

}

/* .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: black;
    border-radius: 10px;
  } */

/* .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.closebtn:hover {
    color: lightgrey;
} */

@media only screen and (max-width: 768px) {
    .template-text {
        font-size: 0.8rem;
        /* Adjust the font size as needed */
    }

    a {
        font-size: .7rem;
    }

    .tick-text h3 {
        font-size: 0.7rem;
        /* Adjust the font size as needed */
    }

    .tick-text img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .grey-button {
        font-size: 0.7rem;
        margin: 5px;
    }

    .callout {
        position: relative;
        bottom: 40px;
        right: 0;
        margin: 20px auto;
        /* Center the callout horizontally */
        max-width: 90%;
        /* Adjust the max-width to fit smaller screens */
        padding: 2px;
    }

    .callout-header {
        padding: 10px 15px;
        background: white;
        font-size: 0.7rem;
        /* Adjust the font size as needed */
        color: black;
        border-radius: 10px;
        text-align: center;
    }

    .trial-links {
        font-size: 0.8rem;
        color: #10d3bb;
        /* Adjust the font size as needed */
    }

    .color-container,
    .grey-container {
        height: 350px;
    }
}


/* Additional media query */
@media only screen and (max-width: 480px) {
    .template-text {
        font-size: 0.7rem;
        /* Adjust the font size as needed */
    }

    a {
        font-size: 0.6rem;
    }

    .tick-text h3 {
        font-size: 0.6rem;
        /* Adjust the font size as needed */
    }

    .tick-text img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .grey-button {
        font-size: 0.7rem;
        margin: 5px;
    }

    .callout {
        position: relative;
        bottom: 30px;
        right: 0;
        margin: 20px auto;
        /* Center the callout horizontally */
        max-width: 90%;
        /* Adjust the max-width to fit smaller screens */
        padding: 2px;
    }

    .callout-header {
        padding: 5px 10px;
        background: white;
        font-size: 0.7rem;
        /* Adjust the font size as needed */
        color: black;
        border-radius: 10px;
        text-align: center;
    }

    .trial-links {
        font-size: 0.7rem;
        color: #10d3bb;
        /* Adjust the font size as needed */
    }

    .color-container,
    .grey-container {
        height: 350px;
    }
}


.grey-button {
    color: white;
    background-color: slategray;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5%;
    /* font-size: 1rem; */
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.grey-button:first-child {
    margin-left: 50px;
    /* Apply margin only to the first button */
}

.grey-button:hover {
    background-color: #0056b3;
}


/* What do we offer section */
.what-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-left: 20px;
    /* border: 5px solid lightblue; */
}


.centred-heading {
    text-align: center;

}

.offers-container {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    /* border: 5px solid blue; */
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /* Adjust as needed */
    /* text-align: center; */
    margin: 20px;
    position: relative;
    /* Ensure relative positioning for the container */
    /* border: 5px solid pink; */
    background-color: lightblue;
    padding: 20px;
}

.offer img {
    width: 60%;
    /* Set width as needed */
    /* height: 300px; */
    /* Set height as needed */
    display: block;
    margin: 0 auto 10px;

}


.buttons-centred {
    position: static;
    /* changed this from absolute to static to show in firefox correctly */
    bottom: 5%;
    /* left: 65%; */
    margin-left: 45%;
    transform: translateX(-50%);
}


@media screen and (max-width: 768px) {
    .offer {
        width: 90%;
        /* Adjust width for smaller screens */
    }

    .buttons-centred {
        position: static;
        /* Change position to static */
        margin-top: 20%;
        /* Add margin to separate buttons from content */
        margin-left: 45%;
        text-align: center;
        /* Center align buttons */
        width: 50%;
        /* font-size: 0.7rem; */
    }
}

@media only screen and (max-width: 480px) {
    .offer {
        width: 90%;
        /* Adjust width for smaller screens */
    }

    .buttons-centred {
        position: static;
        /* Change position to static */
        margin-top: 20%;
        /* Add margin to separate buttons from content */
        margin-left: 45%;
        text-align: center;
        /* Center align buttons */
        width: 50%;
        /* font-size: 0.7rem; */
    }
}

/* secure container styling */

.secure-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
}

.secure-image-container {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
}

.secure-image-container img {
    width: 95%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
}

.secure-content {
    flex: 0 0 40%;
    /* Take up   50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 30px 0px;
    /* Add padding for spacing */
}




/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .secure-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .secure-image-container,
    .secure-content {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .secure-content {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
    }

    .streamline-content {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .secure-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .secure-image-container {
        width: 100%;
        padding-left: 20px;
    }


    .secure-content {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .secure-content {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
    }

    .streamline-content {
        font-size: 0.6rem;
        /* Decrease font size for smaller screens */
    }
}


/* pricing container styling */

.pricing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 5px palevioletred; */
    margin-bottom: 0px;
    padding-bottom: 20px;
    /* Adjust this margin as needed */
    background-color: #10d3bb;
}

.pricing-title h1,
h3 {
    margin-bottom: 0px;
    margin-top: 8px;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;Vertically align content */
    justify-content: center;
    /* made the containers big but the main headings left aligned */
    width: 100%;
    /* border: solid 5px palevioletred; */
    /* padding-bottom: 50px; */
    /* background-color: #10d3bb; */

}

.pricing-plans {
    display: flex;
    /* border: solid 5px pink; */
    justify-content: center;
    /* align-items: left; Vertically align content  */
    padding: 30px 110px;
    flex-wrap: wrap;


}

.pricing-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    margin: 0 10px;
    /* Adjusted margin for smaller screens */
    padding: 10px 10px 10px 30px;
    background-color: white;
    border-radius: 20px;
    max-width: 300px;
    /* Limit the width of boxes on smaller screens */
    margin-bottom: 20px;
    /* Add some space between boxes */
}




.pricing-box h2,
.pricing-box h1,
.pricing-box h4 {
    text-align: left;
    margin: 5px 0;

}

/* 
.free-plan {
    border: 2px pink solid;

}

.basic-plan {

    border: 2px yellow solid;
}

.pro-plan {

    border: 2px black solid;
} */

/* Style for the buttons */
.btn {

    color: white;
    background-color: #10d3bb;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5%;
    /* font-size: 1rem; */
    border: none;
    cursor: pointer;

}


/* .buttons-set-bottom {
    display: flex;
    /* flex-direction: column; */
/* justify-content:end; */
/* align-self: flex-end;
    
} */

.buttons-set-bottom {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: auto;
    /* Push the buttons to the bottom */
    margin-bottom: 10px;
    /* Add some space between buttons and the container bottom */
    padding-left: 5%;
}


.btn {
    font-size: 0.6rem;
    font-weight: normal;
}


.btn:hover {
    background-color: #0056b3;
}



/* pricing container styling */

@media only screen and (max-width: 1024px) {
    .pricing-box {
        max-width: 250px;
        /* Adjusted max-width for smaller screens */
        margin: 0 5px;
        /* Adjusted margin for smaller screens */
    }

    .pricing-plans {
        padding: 30px 20px;
        /* Adjusted padding for smaller screens */
    }
}

@media only screen and (max-width: 768px) {
    .pricing-plans {
        padding: 20px;
        /* Adjusted padding for smaller screens */
    }

    .pricing-box {
        max-width: 90%;
        /* Adjusted max-width for smaller screens */
        margin: 0 10px 20px auto;
        /* Adjusted margin for smaller screens */
        padding: 10px;
        /* Adjusted padding for smaller screens */
    }

    .pricing-title h1,
    .pricing-title h3 {
        text-align: center;
        /* Center the headings for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .pricing-container {
        padding-bottom: 20px;
        /* Adjusted padding for smaller screens */
    }
}




/* testimonials styling */

.testimonials-title {
    text-align: center;
}


.testimonials-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
    padding-bottom: 20px;
}

.testimonials-image-container {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
}

.testimonials-image-container img {
    width: 90%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
}

.testimonials-content {
    flex: 0 0 40%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 20px 0px;

}




/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .testimonials-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .testimonials-content,
    .testimonials-image-container {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .testimonials-content {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
    }

}

@media only screen and (max-width: 480px) {
    .testimonials-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .testimonials-content,
    .testimonials-image-container {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .testimonials-content {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
    }

}

/* download styling to hide this I changed display to none in download container it needs to be set to flex to make it show
 */
.download-container {
    display: none;
    flex-direction: column;
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px black; */
    padding-left: 20px;
    background-color: #10d3bb;
}

.download-button-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    gap: 20px;

}

.download-button {
    color: white;
    background-color: rgb(61, 60, 60);
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .download-button-container {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        gap: 10px;
    }

    .download-button {
        font-size: 0.7rem;
    }

    .download-container {
        font-size: .7rem;
    }

    #life-vault {
        height: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .download-button-container {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        gap: 10px;
    }

    .download-button {
        font-size: 0.7rem;
    }

    .download-container {
        font-size: .7rem;
    }

    #life-vault {
        height: 50px;
    }
}


/* Footer styles */

.footer {
    background-color: rgb(61, 60, 60);
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}

.footer-links {
    margin-left: 100px;
    /* this what I did to move the Security, privacy policy line etc across from the logo */
}

.footer-links a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.right-section {
    display: flex;
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    color: white;
}

#life-vault-image {
    height: 70px;
    /* Set the desired height */
    width: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add some spacing between the logo and the navigation links */
}

#life-vault {
    height: 60px;
    /* Set the desired height */
    width: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add some spacing between the logo and the navigation links */
}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 0px;
    /* width was 50px changed to 0 to fix the back to top arrow */
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */

/* Facebook
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter
  .fa-twitter {
    background: #55ACEE;
    color: white;
  } */


/* Twitter
.fa-twitter {
    display: none; /* Hide the Twitter icon */
/* }   */
/* X Icon */
/* .fa-times {
    background: #000; /* Background color for the X icon */
/* color: #fff; Text color for the X icon */
/* Add any additional styling for the X icon */
/* } */
/* .fa-instagram {
    background: #125688;
    color: white;
  }
   */


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #life-vault-image {
        height: 40px;
        /* Adjust height for smaller screens if needed */
        margin-left: 10px;
    }
}

@media only screen and (max-width: 480px) {
    #life-vault-image {
        height: 35px;
        /* Adjust height for smaller screens if needed */
        margin-left: 10px;
    }
}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        /* Stack content vertically on smaller screens */
        align-items: center;
        font-size: .8rem;
    }


    .footer-links {
        margin-left: 10px;
        display: flex;
        font-size: .8rem;

    }

    .copyright {
        font-size: .8rem;
    }

    #life-vault-image {
        height: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .footer-content {
        flex-direction: column;
        /* Stack content vertically on smaller screens */
        align-items: center;
        font-size: .7rem;
    }


    .footer-links {
        margin-left: 10px;
        display: flex;
        font-size: .7rem;

    }

    .copyright {
        font-size: .7rem;
    }

    #life-vault-image {
        height: 45px;
    }
}


/* FEATURES */
/* Features page styling */


.features-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
}

.features-image-container {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    /* border: solid 5px pink; */
}

.features-image-container img {
    width: 70%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
    /* border: solid 5px yellow; */
}

.features-text {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 30px 0px;
    margin: 80px;
    /* Added margin to make it more compact text */
    /* border: solid 5px pink; */
}




/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .features-image-container {
        padding: 30px;
        /* Adjust padding for smaller screens */
    }

    .features-image-container,
    .features-text {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .features-image-container {
        padding-top: 20px;
    }

    .features-text {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
        margin: 20px;
    }

    .grey-button {
        font-size: 0.6rem;
        height: 30px;
        padding: 5px;
        margin: 2px;

    }
}

@media only screen and (max-width: 480px) {
    .features-image-container {
        padding: 30px;
        /* Adjust padding for smaller screens */
    }

    .features-image-container,
    .features-text {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .features-image-container {
        padding-top: 20px;
    }

    .features-text {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
        margin: 20px;
    }

    .grey-button {
        font-size: 0.5rem;
        height: 30px;
        padding: 5px;
        margin: 2px;

    }
}


/* ******* */

/* Presenting passed on  */

.presenting-passed-on-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
}

.presenting-image {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */

}

.presenting-image img {
    width: 95%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
}

.presenting-content {
    flex: 1;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 10px 0px;
    margin: 10px 40px;
    /* Add padding for spacing */
    text-align: center;
    background-color: lightgrey;
    border-radius: 20px;
}

.buttons-centred-trial {
    position: relative;
    bottom: 10px;
    left: 45%;
    transform: translateX(-50%);

}




/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .presenting-passed-on-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
    }

    .presenting-image,
    .presenting-content {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .presenting-content {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
        margin: 20px 20px;
    }

}

@media only screen and (max-width: 480px) {
    .presenting-passed-on-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
    }

    .presenting-image,
    .presenting-content {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .presenting-content {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
        margin: 20px 20px;
    }

}

/* safeguard styling
 */
.two-column-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightgreen; */
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.safeguard-image {
    flex: 0 0 45%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
}

.safeguard-image img {
    width: 100%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
}

.safeguard-content {
    flex: 0 0 40%;
    /* Take up 30% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 10px 20px;
    /* Add padding for spacing */
    background-color: lightgrey;
    border-radius: 20px;
    margin: 10px 20px;

    /* CAN'T GET TO WORK  */
    .safeguard-content h2 {
        text-align: center;
        /* Center the heading */
    }

    .safeguard-content p {
        text-align: justify;
        /* Justify the paragraph text */
    }

}

.tick-text p {
    margin-bottom: 1px;
}




/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .two-column-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
        display: flex;
        /* Use flexbox for layout */
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        /* Center items horizontally */
    }


    .safeguard-content {
        width: 95%;
        /* Set width to 100% for smaller screens */
    }

    .safeguard-image {
        width: 70%;
        /* Adjust width to your preference */
        height: auto;
        /* Let the height adjust automatically */
        max-width: 100%;
        /* Ensure the image does not exceed its container */
    }

    .safeguard-content {
        font-size: 0.5rem;
        /* Decrease font size for smaller screens */
        margin: 20px 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .tick-text p {
        margin-bottom: 1px;
        /* Adjust this value as needed */
    }
}


@media only screen and (max-width: 480px) {
    .two-column-container {
        padding: 10px 10px 0px 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
        display: flex;
        /* Use flexbox for layout */
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        /* Center items horizontally */
    }


    .safeguard-content {
        width: 95%;
        /* Set width to 100% for smaller screens */
    }

    .safeguard-image {
        width: 70%;
        /* Adjust width to your preference */
        height: auto;
        /* Let the height adjust automatically */
        max-width: 100%;
        /* Ensure the image does not exceed its container */
    }

    .safeguard-content {
        font-size: 0.4rem;
        /* Decrease font size for smaller screens */
        margin: 20px 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .tick-text p {
        margin-bottom: 1px;
        /* Adjust this value as needed */
    }
}

/* presenting a8 styling
 */
.presenting-a8-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
    padding-bottom: 20px;
}

.presenting-a8-image {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */

}

.presenting-a8-image img {
    width: 100%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
}

.presenting-a8-content {
    flex: 1;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 10px 40px;
    margin: 10px 20px;
    /* Add padding for spacing */
    text-align: center;
    background-color: lightgrey;
    border-radius: 20px;
}

.presenting-a8-content h4 {
    text-align: center;
    /* Center-align the h2 element */
}


.buttons-centred-trial {
    position: relative;
    bottom: 10px;
    left: 45%;
    transform: translateX(-50%);

}



/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .presenting-a8-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
    }

    .presenting-a8-image,
    .presenting-a8-content {
        width: 100%;
        /* Set width to 100% for smaller screens */

    }

    .presenting-a8-content {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
        margin: 20px 20px;
        padding-right: 10px;
        padding-left: 10px;
    }


    .buttons-centred-trial {
        position: relative;
        bottom: auto;
        /* Reset bottom position */
        left: 50%;
        /* Center horizontally */
        transform: translateX(-50%);
        margin-top: 10px;
        /* Add margin from the top */
    }

}



/* Securely styling */

.securely-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightgreen; */
    padding-left: 20px;
    padding-bottom: 20px;
}

.securely-image {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
}


.securely-image img {
    max-width: 100%;
    /* Ensure the image does not exceed its container's width */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 600px;
    /* Set the maximum height of the image */
    display: block;
    /* Remove any default spacing */
    margin-left: auto;
    /* Align the image to the right side */
}


.securely-content {
    flex: 0 0 45%;
    /* Take up 30% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 30px 0px;
    /* Add padding for spacing */
    background-color: lightgrey;
    border-radius: 20px;
    margin: 10px 20px;
}



/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .securely-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
    }

    .securely-image,
    .securely-content {
        width: 100%;
        /* Set width to 100% for smaller screens */

    }

    .securely-content {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
        margin: 20px 20px;
        padding-right: 10px;
        padding-left: 10px;
    }


}

@media only screen and (max-width: 480px) {
    .securely-container {
        padding: 0px 30px 5px 5px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
    }

    .securely-image,
    .securely-content {
        width: 100%;
        /* Set width to 100% for smaller screens */

    }

    .securely-content {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
        margin: 20px 20px;
        padding-right: 10px;
        padding-left: 10px;
    }


}

/* ABOUT US STYLING */

.about-us-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.about-us-image-container {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    /* border: solid 5px pink; */

}

.about-us-image-container img {
    width: 100%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
    /* border: solid 5px yellow; */
}

.about-us-text {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 30px 0px;
    margin: 0 100px 0 20px;
    /* Add padding for spacing */
    /* border: solid 5px pink; */
}



/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .about-us-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .about-us-image-container,
    .about-us-text {
        width: 95%;
        /* Set width to 100% for smaller screens */
    }

    .about-us-image-container {
        padding-top: 20px;
    }

    .about-us-text {
        font-size: 0.8rem;

        /* Decrease font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .about-us-container {
        padding: 40px 20px 20px 10px;
        /* Adjust padding for smaller screens */
    }

    .about-us-image-container,
    .about-us-text {
        width: 95%;
        /* Set width to 100% for smaller screens */
    }

    .about-us-image-container {
        padding-top: 20px;
    }

    .about-us-text {
        font-size: 0.7rem;

        /* Decrease font size for smaller screens */
    }


}

.unique-selling-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightgreen; */
    padding-left: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.unique-selling-image {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
}

.unique-selling-image img {
    width: 100%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
}

.unique-selling-content {
    flex: 0 0 45%;
    /* Take up 30% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 30px 10px;
    /* Add padding for spacing */
    background-color: lightgrey;
    border-radius: 20px;
    margin: 20px;
}


@media screen and (max-width: 768px) {
    .unique-selling-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
        flex-direction: column;
        /* Change flex direction to stack elements vertically */
        align-items: stretch;
        /* Stretch items to full width */
    }

    .unique-selling-image,
    .unique-selling-content {
        flex: 0 0 100%;
        /* Set flex basis to 100% to make them stack vertically */
    }

    .unique-selling-content {
        font-size: 0.6rem;
        /* Decrease font size for smaller screens */
        margin: 10px;
        /* Adjust margin */
        padding: 10px;
        /* Adjust padding */
    }
}


@media only screen and (max-width: 480px) {
    .unique-selling-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-bottom: 5px;
        flex-direction: column;
        /* Change flex direction to stack elements vertically */
        align-items: stretch;
        /* Stretch items to full width */
    }

    .unique-selling-image,
    .unique-selling-content {
        flex: 0 0 100%;
        /* Set flex basis to 100% to make them stack vertically */
    }

    .unique-selling-content {
        font-size: 0.5rem;
        /* Decrease font size for smaller screens */
        margin: 10px;
        /* Adjust margin */
        padding: 10px;
        /* Adjust padding */
    }
}

/* company update styling */

/* .company-update{
    display: flex;
    align-items: center;
    background-color:#10d3bb;
    font-size: 2rem;
} */


/* Company update styling
 */

.company-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #10d3bb;
    position: relative;
}

.container {
    position: absolute;
    /* Position the container absolutely */
    top: 50%;
    /* Position the container 50% from the top */
    left: 35%;
    /* Position the container 50% from the left */
    transform: translate(-50%, -50%);
    /* Center the container */
    text-align: center;
    /* Center the content horizontally */
    z-index: 1;
    /* Ensure the container is above the image */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    font-size: 30px;
}


.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    /* 16:9 aspect ratio for responsive video */
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 1;
    /* Ensure the video is stacked on top of the image */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    height: auto;
    object-fit: cover;
    /* z-index: -1; Ensure the background image stays behind other content */
}

#play-video {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #10d3bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#play-video:hover {
    background-color: #0eaba1;
}


@media screen and (max-width: 768px) {
    .company-container {
        /* max-width: 90%; */
        font-size: 1rem;
        /* Adjust the font size as needed */
        /* left: 20%; Center the container horizontally */
        /* transform: translateX(-50%); Center the container */
        width: 100%;
        /* Make the background image fill the container */
        height: 40vh;
        /* Maintain aspect ratio
    }

    .background-image {
        width: 50%; /* Make the background image fill the container */
        height: 60vh;
        /* Maintain aspect ratio
        bottom: auto; 
        /* remove bottom positioning */
        /* right: auto; Remove right positioning */
    }

    .container {
        width: 30%;
        height: 45%;
        font-size: 0.9rem;
    }

    #play-video {
        font-size: 0.8rem;
        /* Adjust the font size as needed */
    }
}

@media only screen and (max-width: 480px) {
    .company-container {
        /* max-width: 90%; */
        font-size: 0.9rem;
        /* Adjust the font size as needed */
        /* left: 20%; Center the container horizontally */
        /* transform: translateX(-50%); Center the container */
        width: 100%;
        /* Make the background image fill the container */
        height: 40vh;
        /* Maintain aspect ratio
    }

    .background-image {
        width: 50%; /* Make the background image fill the container */
        height: 60vh;
        /* Maintain aspect ratio
        bottom: auto; 
        /* remove bottom positioning */
        /* right: auto; Remove right positioning */
    }

    .container {
        width: 30%;
        height: 45%;
        font-size: 0.8rem;
    }

    #play-video {
        font-size: 0.7rem;
        /* Adjust the font size as needed */
    }
}


/* about our team styling
 */

.team-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
}

.team-image-container {
    flex: 0 0 45%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding-top: 20px;
    padding-bottom: 20px;
}

.team-image-container img {
    width: 100%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */

}

.team-content {
    flex: 0 0 40%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 30px 30px;
    /* Add padding for spacing */
}

.team-content h2 {
    text-align: center;
    /* Center-align the h2 element */
}

.team-content h4 {
    text-align: left;
    /* Left-align the h4 element */
}



/* our-prices styling */

.our-prices-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightblue; */
    padding-left: 20px;
}

.our-prices-image-container {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    /* border: solid 5px pink; */
    padding-bottom: 20px;
    padding-top: 20px;
}

.our-prices-image-container img {
    width: 90%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */
    /* border: solid 5px yellow; */

}

.our-prices-text {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 30px 0px;
    margin: 0 60px 0 70px;
    /* Add padding for spacing */
    /* border: solid 5px pink; */
}



/* Media Query for smaller screens */
@media screen and (max-width: 768px) {

    .our-prices-container,
    .streamline-container,
    .security-container,
    .team-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .our-prices-image-container,
    .our-prices-text,
    .streamline-image-container,
    .security-image-container,
    .team-image-container {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .our-prices-text,
    .streamline-content,
    .security-content,
    .pricing-title,
    .team-content {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {

    .our-prices-container,
    .security-container,
    .team-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    .streamline-container {
        padding: 10px 30px 10px 10px;
    }

    .our-prices-image-container,
    .our-prices-text,
    .streamline-image-container,
    .security-image-container,
    .team-image-container {
        width: 100%;
        /* Set width to 100% for smaller screens */
    }

    .our-prices-text,
    .streamline-content,
    .security-content,
    .pricing-title,
    .team-content {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
    }
}

@media screen and (max-width: 768px) {

    .our-prices-text {
        margin: 0 40px 0 0;


        /* Adjust margin for smaller screens */
    }

    .our-prices-container,
    .color-container,
    .grey-container {
        height: 350px;
    }

    .our-prices-image-container {
        padding-left: 15px;
    }



    .streamline-content {
        margin: 0 20px;
        /* Adjust margin for smaller screens */
    }

    .security-image-container {
        margin-right: 30px;
    }


}


@media only screen and (max-width: 480px) {

    .our-prices-text {
        margin: 0 40px 0 0;


        /* Adjust margin for smaller screens */
    }

    .our-prices-container,
    .color-container,
    .grey-container {
        height: 350px;
    }

    .our-prices-image-container {
        padding-left: 15px;
    }



    .streamline-content {
        margin: 0 20px;
        /* Adjust margin for smaller screens */
    }

    .security-image-container {
        margin-right: 30px;
    }


}

/* streamline styling */
/* Also used for highest standards of security styling on page Our prices */

.streamline-container,
.security-container {
    display: flex;
    flex-direction: row;
    /* flex direction is set to row by default so could remove this) */
    align-items: center;
    /* Vertically align content */
    /* border: solid 5px lightseagreen; */
    padding-left: 20px;
}

.streamline-image-container,
.security-container {
    flex: 0 0 50%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 10px
}

.streamline-image-container img,
.security-image-container img {
    width: 90%;
    /* Make the image responsive */
    display: block;
    /* Remove any default spacing */

}

.streamline-content {
    flex: 0 0 35%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 20px 0px;
    /* Add padding for spacing */

}


.security-content {
    flex: 0 0 35%;
    /* Take up 50% of the container width */
    position: relative;
    /* Position relative for absolute positioning */
    padding: 20px 0px;
    /* Add padding for spacing */
    margin: 0 30px 0 50px;

}





/* Contact us Happy to help styling  */
.wrapper {
    background-color: #10d3bb;
    position: relative;
    height: auto;
}

.help-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.help-content {
    flex: 1;
    padding-right: 70px;
    align-self: center;
    color: black;
    margin-left: 130px;
    margin-right: 130px;
    /* Text color for left side */


}

.form-container {
    flex: 1;
    background-color: white;
    /* White background color for form container */
    padding: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;

}

label {
    margin-bottom: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;


}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(225, 221, 221);
    border: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

input[type="submit"] {
    padding: 10px;
    background-color: slategrey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    align-self: center;
    font-size: 1rem;

}

input[type="submit"]:hover {
    background-color: #007bff;
}


/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .help-content {
        font-size: 0.9rem;
        /* Decrease font size for smaller screens */
        padding-right: 10px;
        /* Adjust padding for smaller screens */
        margin-left: 30px;
        margin-right: 30px;
    }

    .form-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-top: 10px;
        /* Adjust margin for smaller screens */
    }

    input[type="text"],
    input[type="email"],
    textarea,
    input[type="submit"] {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .help-content {
        font-size: 0.8rem;
        /* Decrease font size for smaller screens */
        padding-right: 10px;
        /* Adjust padding for smaller screens */
        margin-left: 30px;
        margin-right: 30px;
    }

    .form-container {
        padding: 10px;
        /* Adjust padding for smaller screens */
        margin-top: 10px;
        /* Adjust margin for smaller screens */
    }

    input[type="text"],
    input[type="email"],
    textarea,
    input[type="submit"] {
        font-size: 0.7rem;
        /* Decrease font size for smaller screens */
    }
}

/* Contact us FAQS */

.faq-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.faq-image {
    flex: 0 0 45%;
    position: relative;
    padding-left: 20px;
}

.faq-image img {
    width: 90%;
    display: block;
}

.faq-content {
    flex: 0 0 50%;
    position: relative;
    padding: 30px 0px;
}

.faq-question {
    border: 2px solid #10d3bb;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.faq-question .question {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.faq-answer {
    display: none;
    padding-top: 10px;
    padding-left: 10px;
}

.faq-question.open .faq-answer {
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.fa-chevron-down {
    transition: transform 0.3s ease;
}

.open .fa-chevron-down {
    transform: rotate(180deg);
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .faq-container {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        padding-left: 0;
        /* Remove left padding */
    }

    .faq-image,
    .faq-content {
        flex: 1;
        /* Take up full width on smaller screens */
        width: auto;
        /* Reset width */
        padding-left: 20px;
    }

    .faq-question {
        position: relative;
        /* Reset position */
        margin-right: 20px;
        /* Add margin to separate question and arrow */
    }

    .arrow {
        position: static;
        /* Reset position */
        transform: none;
        /* Reset transform */
        margin-left: auto;
        /* Move arrow to the right */
    }
}



/* 
#back_to_top {
    color: #10d3bb;
    height: auto;
    position: fixed;
    bottom: 20px;
    margin: 0;
    z-index: 10000;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    right: 25px;
    visibility: hidden;
    -webkit-backface-visibility: hidden
} */

/* BACK TO TOP BUTTON */

#back_to_top {
    color: #10d3bb;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 10000;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    visibility: hidden;
}

#back_to_top.on {
    opacity: 1;
    visibility: visible;
}


#back_to_top.off {
    right: 25px
}

/* 
#back_to_top.on {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    right: 25px
} */

#back_to_top>span {
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-decoration: none;
    -o-border-radius: 52px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    border: 2px solid #10d3bb;
    background: 0 0
}

#back_to_top span i,
#back_to_top span span,
.q_steps_holder .circle_small .step_title,
.q_steps_holder .circle_small span {
    -webkit-transition: color .2s ease 0s;
    -moz-transition: color .2s ease 0s;
    -o-transition: color .2s ease 0s
}

*/ #back_to_top span i,
#back_to_top span span {
    font-size: 22px;
    color: #b0b0b0;
    line-height: 52px
}

#back_to_top:hover>span {
    background-color: #e8e8e8
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;

}

.fa-arrow-up:before {
    content: "\f062";
}



@media screen and (max-width: 768px) {
    #back_to_top {
        bottom: 10px;
        right: 10px;

    }
}

@media only screen and (max-width: 480px) {
    #back_to_top {
        bottom: 10px;
        right: 10px;

    }
}





/* price plans table  */

body {
    font-family: Arial, sans-serif;
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    table-layout: fixed;
}

.comparison-table th,
.comparison-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.comparison-table th {
    /* background-color: #f2f2f2; */
    font-weight: bold;
}

.premium {
    background-color: #d9ead3;
}

.bronze {
    background-color: #b45f06;
    color: black;
}

.silver {
    background-color: #d9d9d9;
}

.gold {
    background-color: #ffe599;
}

.tick {
    color: #10d3bb;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

    .comparison-table th,
    .comparison-table td {
        font-size: 0.8rem;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {

    .comparison-table th,
    .comparison-table td {
        font-size: 0.5rem;
        padding: 6px;
        text-wrap: wrap;
    }

    .comparison-table th {
        font-size: 0.6rem;
        text-wrap: wrap;
    }
}